In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Feature Scaling

In [174]:
from sklearn import preprocessing
data_set = pd.read_csv('C:/Users/DELL/Desktop/AI ML/DATA SETS\sales_data.csv')
data_set.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [175]:
x = data_set[['Revenue','Cost']]
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,1))
x_after_min_max_scaler = min_max_scaler.fit_transform(x)
print("After scaling : \n",x_after_min_max_scaler[0:10])

After scaling :
 [[0.01632456 0.00835331]
 [0.01632456 0.00835331]
 [0.04131079 0.02405938]
 [0.03592093 0.02091817]
 [0.00716352 0.00416502]
 [0.0089544  0.00521209]
 [0.00649194 0.00416502]
 [0.00323736 0.00207088]
 [0.03588649 0.02301231]
 [0.03425059 0.02196524]]

In [176]:
x = data_set[['Revenue','Cost']]
standardizer = preprocessing.StandardScaler()
x_after_standardization = standardizer.fit_transform(x)
print("After scaling: \n",x_after_standardization[0:10])

After scaling:
 [[ 0.14943954 -0.12354319]
 [ 0.14943954 -0.12354319]
 [ 1.25784403  0.63928745]
 [ 1.01874644  0.48672133]
 [-0.25694998 -0.32696469]
 [-0.17750541 -0.27610931]
 [-0.28674169 -0.32696469]
 [-0.43111691 -0.42867544]
 [ 1.01721866  0.58843208]
 [ 0.9446491   0.5375767 ]]

Label Encoding

In [177]:
data_set["Product_Category"].unique()

array(['Accessories', 'Clothing', 'Bikes'], dtype=object)

In [178]:
label_encoder = preprocessing.LabelEncoder()
data_set['Product_Category'] = label_encoder.fit_transform(data_set['Product_Category'])
data_set.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,0,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,0,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,0,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,0,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,0,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

One Hot Encoding

In [179]:
one_hot_encoded_data = pd.get_dummies(data_set,columns=['Product_Category'])
one_hot_encoded_data.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Product_Category_0,Product_Category_1,Product_Category_2
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,1,0,0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,1,0,0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,1,0,0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,1,0,0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,1,0,0

Handling Imbalanced Data - data is the dataframe here and not data_set

In [180]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,classification_report
data = pd.read_csv('c:/Users/DELL/Desktop/AI ML/DATA SETS\creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [181]:
data['normAmount'] = StandardScaler().fit_transform(np.array(data['Amount']).reshape(-1,1))
data = data.drop(['Time','Amount'],axis=1)
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Training and Splitting the data set

In [182]:
from sklearn.model_selection import train_test_split
X = data.drop(['Class'], axis = 1)
y = data['Class']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)
# train : test  ::  70 : 30
print("Number of transactions X_train : ", X_train.shape)
print("Number of transactions y_train : ", y_train.shape)
print("Number of transactions X_test : ",X_test.shape)
print("Number of transactions y_test : ", y_test.shape)

Number of transactions X_train :  (199364, 29)
Number of transactions y_train :  (199364,)
Number of transactions X_test :  (85443, 29)
Number of transactions y_test :  (85443,)

Training the model without handling the imbalanced class distribution

In [183]:
lr = LogisticRegression()
lr.fit(X_train,y_train.ravel())
predictions = lr.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     85296
           1       0.88      0.62      0.73       147

    accuracy                           1.00     85443
   macro avg       0.94      0.81      0.86     85443
weighted avg       1.00      1.00      1.00     85443

SMOTE - Oversampling

In [184]:
print("Before Oversampling, count of label '1' : ",sum(y_test == 1))
print("Before Oversampling, count of label '0' : ",sum(y_train == 0))
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train.ravel())
print("After Oversampling, the shape of X_train : ",X_train_res.shape)
print("After Oversampling, the shape of y_train : ",y_train_res.shape)
print("After Oversampling, count of label '1' : ",sum(y_train_res == 1))
print("After Oversampling, count of label '0' : ",sum(y_train_res == 0))

Before Oversampling, count of label '1' :  147
Before Oversampling, count of label '0' :  199019
After Oversampling, the shape of X_train :  (398038, 29)
After Oversampling, the shape of y_train :  (398038,)
After Oversampling, count of label '1' :  199019
After Oversampling, count of label '0' :  199019

In [185]:
lr1 = LogisticRegression()
lr1.fit(X_train_res,y_train_res.ravel())
predictions = lr1.predict(X_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     85296
           1       0.06      0.92      0.11       147

    accuracy                           0.98     85443
   macro avg       0.53      0.95      0.55     85443
weighted avg       1.00      0.98      0.99     85443

Using NearMiss algorithm - Undersampling

In [186]:
print("Before Undersampling, count of label '1' : " , sum(y_train == 1))
print("Before Undersampling, count of label '0' : ",sum(y_train == 0))
from imblearn.under_sampling import NearMiss
nr = NearMiss()
X_train_miss, y_train_miss = nr.fit_resample(X_train,y_train)
print("After Undersampling, count of label '1' : ", sum(y_train_miss == 1))
print("After Undersampling, count of label '0' : ", sum(y_train_miss == 0))
print("The shape of X_train : ",X_train_miss.shape)
print("The shape of y_train : ",y_train_miss.shape)

Before Undersampling, count of label '1' :  345
Before Undersampling, count of label '0' :  199019
After Undersampling, count of label '1' :  345
After Undersampling, count of label '0' :  345
The shape of X_train :  (690, 29)
The shape of y_train :  (690,)

In [187]:
lr2 = LogisticRegression()
lr2.fit(X_train_miss,y_train_miss.ravel())
predictions = lr2.predict(X_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       1.00      0.55      0.71     85296
           1       0.00      0.95      0.01       147

    accuracy                           0.56     85443
   macro avg       0.50      0.75      0.36     85443
weighted avg       1.00      0.56      0.71     85443